*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

ul {
  list-style: none;
}

:root {
  --appbar-bg: #384b58;
  --board-bg: #0079bf;

  --button-bg: #2b57b5;
  --card-bg: #fff;
  --list-bg: #d2d3d5;

  --text-color: #333;

  --button-bg-transition: #4c6aa9;
  --button-border-color: #072057;

  --border-transparent: 2px solid transparent;

  --transition-all-property: all 0.2s ease-in-out;

  --border-radius: 0.3rem;
  --rounded-border: 50%;
  --list-width: 280px;
  --gap: 1rem;
  --header-height: 150px;
  --footer-height: 100px;
}

body {
  background-color: var(--appbar-bg);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  overflow: hidden;
  overflow-y: auto;
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--header-height) auto var(--footer-height);
  height: 100vh;
}

header {
  background-color: var(--appbar-bg);
  color: var(--card-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  height: var(--header-height);
  padding: 0 var(--gap);
}

footer {
  background: var(--appbar-bg);
  color: var(--card-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  font-size: 1rem;
  height: var(--footer-height);
  padding: 0 var(--gap);
}

.board-lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--gap);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  border: var(--border-transparent);
  color: inherit;
  padding: 0.5rem 0.3rem;
  transition: var(--transition-all-property);
}

a:focus,
a:hover {
  border-color: var(--board-bg);
  border-radius: var(--border-radius);
  color: var(--card-bg);
  text-decoration: none;
}

.footer-made-by-text {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.copyright-text {
  max-width: 100%;
}

.list {
  background-color: var(--list-bg);
  border: var(--border-transparent);
  border-radius: var(--border-radius);
  height: max-content;
  width: 100%;
}

.list-header {
  font-size: 1.2rem;
  font-weight: bold;
  padding: var(--gap);
}

/* list items area */
.list-items {
  flex: 1;
  padding: 0 var(--gap) var(--gap);
  overflow-y: auto;
}

.list-items li {
  background: var(--card-bg);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: var(--gap);
  margin-bottom: var(--gap);
}

.list-items li:last-child {
  margin-bottom: 0;
}

.add-card {
  background-color: var(--list-bg);
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding: var(--gap);
}

.add-card input {
  border-radius: var(--border-radius);
  box-shadow: 0 1px 1px rgba(233, 231, 231, 0.1);
  font-size: 1rem;
  padding: var(--gap);
}

.add-a-card-button button {
  border: var(--border-transparent);
  background-color: transparent;
  font-size: 1rem;
  padding: var(--gap);
  text-align: left;
  width: 100%;
}

.add-card-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap);
  padding-top: var(--gap);
}

.add-card-buttons button {
  background-color: var(--button-bg);
  border: none;
  border-radius: var(--border-radius);
  color: var(--card-bg);
  cursor: pointer;
  padding: var(--gap);
}

.card-item {
  border: var(--border-transparent);
  border-radius: 6px;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: var(--transition-all-property);
}

.card-item button {
  background-color: var(--button-bg);
  border: none;
  border-radius: var(--rounded-border);
  color: var(--card-bg);
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}

.card-item:focus,
.card-item:hover {
  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.card-item:active {
  cursor: grabbing;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.2);
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  pointer-events: auto;
}

.modal-content {
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 1rem;
  width: 600px;
  height: 50%;
}

.modal-content label {
  display: none;
}

.modal-content textarea {
  font-family: inherit;
  font-size: 1.1rem;
  padding: 0.5rem;
  height: 50%;
  width: 100%;
}

.modal-content .modal-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.modal-content .modal-actions button {
  background-color: var(--button-bg);
  border: var(--border-transparent);
  border-radius: var(--border-radius);
  color: var(--card-bg);
  cursor: pointer;
  font-size: 0.9rem;
  padding: var(--gap);
  width: 500px;
  transition: var(--transition-all-property);
}

.modal-content .modal-actions .modal-actions-cancel:focus,
.modal-content .modal-actions .modal-actions-cancel:hover {
  background-color: var(--button-bg-transition);
  border-color: var(--button-border-color);
}

.modal-content .modal-actions .modal-actions-save:focus,
.modal-content .modal-actions .modal-actions-save:hover {
  background-color: var(--button-bg-transition);
  border-color: var(--button-border-color);
}

.modal-loading-text {
  text-align: center;
}

/* Responsive mobile-first */
@media (max-width: 600px) {
  .board-lists {
    display: grid;
    grid-template-columns: 1fr;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
  }

  .add-card {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

  .modal-content {
    height: 50%;
    width: 400px;
    max-width: 90%;
  }
}