################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ScrumBoardBackend.Test/bin
/ScrumBoardBackend.Test/obj
/ScrumBoardBackend.Test/.vs/ScrumBoardBackend.Test
