################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ScrumBoardBackend.Test/bin
/ScrumBoardBackend.Test/obj
/ScrumBoardBackend.Test/.vs/ScrumBoardBackend.Test/CopilotIndices/17.14.995.13737
/ScrumBoardBackend.Test/.vs/ScrumBoardBackend.Test/FileContentIndex
/ScrumBoardBackend.Test/.vs/ScrumBoardBackend.Test/v17/TestStore/0
/ScrumBoardBackend.Test/.vs/ScrumBoardBackend.Test/v17
